{% extends "base.html" %}

{% block title %}Error 500{% endblock %}

{% block body %}

    <section id="contact" class="single-page scrollblock">
        <div class="container">
            <h1>Error 500</h1>

            <div class="row">
                <div class="span12">
                    It seems there is a problem loading your page. Please try again later!
                </div>
                <!-- ./span12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


{% endblock %}
