{% extends "base.html" %}

{% block title %}About{% endblock %}


{% block extra_header %}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
{% endblock %}


{% block body %}
    <!--******************** Services Section ********************-->
    <section id="services" class="single-page scrollblock">
        <div class="container">
            <div class="align"><i class="fa fa-cog"></i></div>
            <h1>Services</h1>
            <!-- Four columns -->
            <div class="row">
                <div class="span3">
                    <div class="align"><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-rss"></i></div>
                    <h2>Track accounts</h2>

                    <p>Setup a new project, choose Facebook pages, Twitter accounts and hashtags/keywords you want to track and
                    Alnzer will collect these open data. Have you changed your mind about the content to track? Change your project
                    settings and see new results coming.</p>
                </div>
                <!-- /.span3 -->
                <div class="span3">
                    <div class="align"><i class="fa fa-smile-o"></i><i class="fa fa-frown-o"></i></div>
                    <h2>Run sentiment analysis</h2>

                    <p>On the collected data, Anlzer runs sentiment analysis to bring out new trends and user opinions.
                    The Anlzer can be re-trained to fit your industry needs.</p>
                </div>
                <!-- /.span3 -->
                <div class="span3">
                    <div class="align"><i class="fa fa-bar-chart-o"></i></div>
                    <h2>See live results</h2>

                    <p>Want to identify trends? You can go through free search and see relative trends.</p>
                </div>
                <!-- /.span3 -->
                <div class="span3">
                    <div class="align"><i class="fa fa-clipboard"></i></div>
                    <h2>Export reports</h2>

                    <p>Create queries on the collected data, see diagrams and export reports to facilitate your decisions.</p>
                </div>
                <!-- /.span3 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
{% endblock %}