{% extends "base.html" %}

{% block title %}Oops{% endblock %}

{% block body %}

    <section id="contact" class="single-page scrollblock">
        <div class="container">
            <h1>Oops, something went wrong</h1>

            <div class="row">
                <div class="span12">
                    Hm, it seems that something in the Enablers went wrong. Try again later or drop us a notice.
                </div>
                <!-- ./span12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


{% endblock %}
