{% extends "base-welcome.html" %}

{% block title %}Sign up{% endblock %}

{% block menu %}
<!-- no menu -->
{%  endblock%}

{% block extra_header %}
<!--link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
    $(function() {
        $( "#datepicker_from").datepicker();
        $( "#datepicker_to" ).datepicker();
    });
</script-->
{% endblock %}

{% block body %}

<!--******************** Contact Section ********************-->
<section id="portfolio" class="single-page scrollblock" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <h2>Setup your account</h2>
        <hr width="100%">
        <div class="row">
            <div class="span12">
                <div class="cform" id="theme-form">
                    <form action="" method="post" class="cform-form">
                        {% csrf_token %}
                        {% if message %}
                            <div class="row">
                                <div class="padded aligncenter bordered" style="color: red;"><i class="fa fa-warning"></i> {{ message }}</div>
                            </div>
                        {% endif %}
                        <!-- username-->
                        <div class="row">
                            <div class="span4"></div>
                            <div class="span1"> <span class="label-important">
                                    <label>Username*: </label>
                                </span></div>
                            <div class="span3"> <span class="text-left">
                                    <input name="username" type="text"
                                              placeholder="e.g. mycompanyname"
                                              title="Fill in the username" required></textarea>
                                </span></div>
                            <div class="span4"></div>
                        </div>
                        <!-- password-->
                        <div class="row">
                            <div class="span4"></div>
                            <div class="span1"> <span class="label-important">
                                    <label>Password*: </label>
                                </span></div>
                            <div class="span3"> <span class="text-left">
                                    <input name="password" type="password"
                                           title="Choose a password" required></textarea>
                                </span></div>
                            <div class="span4"></div>
                        </div>
                        <!-- verify password-->
                        <div class="row">
                            <div class="span4"></div>
                            <div class="span1"> <span class="label-important">
                                    <label>Verify Password*: </label>
                                </span></div>
                            <div class="span3"> <span class="text-left">
                                    <input name="password2" type="password"
                                           title="Verify password" required></textarea>
                                </span></div>
                            <div class="span4"></div>
                        </div>
                        <!-- email-->
                        <div class="row">
                            <div class="span4"></div>
                            <div class="span1"> <span class="label-important">
                                    <label>Email*: </label>
                                </span></div>
                            <div class="span3"> <span class="text-left">
                                    <input name="email" type="email"
                                           placeholder="e.g. myname@company.com"
                                           title="Fill in the email" required></textarea>
                                </span></div>
                            <div class="span4"></div>
                        </div>

                        <div>
                            <div class="span3"></div>
                            <div class="span6">
                                <input type="button" value="Cancel" class="cform-button pull-left" onClick="history.go(-1);return true;">
                                <input type="submit" value="Next >" class="cform-submit pull-right">
                            </div>
                            <div class="span3"></div>
                        </div>

                    </form>
                </div>
            </div>
            <!-- ./span12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>


{% endblock %}